<nav class="navbar">
    <div class="container">
  <div class="navbar-brand">
    {{> cafe-brand}}
  </div>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      {{#if user}}
      <a id="dashboard" class="navbar-item nav-link" href="/dashboard">Dashboard</a>
      <a id="cafes" class="navbar-item nav-link" href="/cafes">Cafes</a>
      <a id="about" class="navbar-item nav-link" href="/about">About</a>
      <a id="logout" class="navbar-item nav-link" href="/logout">Logout</a>
      {{else}}
      <a id="login" class="navbar-item nav-link" href="/login">Login</a>
      <a id="signup" class="navbar-item nav-link" href="/signup">Sign up</a>
      <a id="about" class="navbar-item nav-link" href="/about">About</a>
      {{/if}}
    </div>
  </div>
  </div>
</nav>

<script>
    if (document.getElementById("{{active}}")) document.getElementById("{{active}}").classList.add("is-active");
</script>
